<p>data-form works!</p>
<!-- Bootstra 4 -->
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="nome" class="col-sm-1 col-form-label"
    [class.text-danger]="controleInvalido('nome')">Nome</label>
    <div class="col-sm-11">
      <input type="text" class="form-control" id="nome" formControlName="nome"
        [class.is-invalid]="controleInvalido('nome')">
      <div class="invalid-feedback">
        O Nome é obrigatório.
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-1 col-form-label"
      [class.text-danger]="controleInvalido('email')">Email</label>
    <div class="col-sm-11">
      <input type="email" class="form-control" id="email" formControlName="email"
      [class.is-invalid]="controleInvalido('email')">
      <div class="invalid-feedback">
        O Email é inválido.
      </div>
      <app-form-control-erro
      [mostrarErro]="emailInvalido('email')"
      msgErro="O formato do Email está inválido."></app-form-control-erro>
    </div>
  </div>
  <div class="form-group row">
    <label for="confirmarEmail" class="col-sm-1 col-form-label"
      [class.text-danger]="controleInvalido('confirmarEmail')">Confirmar Email</label>
    <div class="col-sm-11">
      <input type="email" class="form-control" id="confirmarEmail" formControlName="confirmarEmail"
      [class.is-invalid]="controleInvalido('confirmarEmail')">
      <div class="invalid-feedback">
        O Confirmar Email é inválido.
      </div>
      <app-form-control-erro
      [mostrarErro]="formulario.get('confirmarEmail').hasError('equalsTo')"
      msgErro="Os Emails não são iguais."></app-form-control-erro>
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="cep" class="col-form-label"
          [class.text-danger]="controleInvalido('endereco.cep')">CEP</label>
        <input type="text" class="form-control" id="cep" formControlName="cep"
          [class.is-invalid]="controleInvalido('endereco.cep')"
          (blur)="consultaCEP('endereco.cep')">
        <div class="invalid-feedback" *ngIf="verificaRequired('endereco.cep')">
          O CEP é obrigatório.
        </div>
        <div class="invalid-feedback" *ngIf="verificaCepInvalido('endereco.cep')" >
          O CEP é inválido.
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="numero" class="col-form-label"
          [class.text-danger]="controleInvalido('endereco.numero')">Número</label>
        <input type="text" class="form-control" id="numero" formControlName="numero"
          [class.is-invalid]="controleInvalido('endereco.numero')">
        <div class="invalid-feedback">
          O Número é obrigatório.
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="complemento" class="col-form-label"
          [class.text-danger]="controleInvalido('endereco.complemento')">Complemento</label>
        <input type="text" class="form-control" id="complemento" formControlName="complemento"
          [class.is-invalid]="controleInvalido('endereco.complemento')">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="rua" class="col-form-label"
          [class.text-danger]="controleInvalido('endereco.rua')">Rua</label>
        <input type="text" class="form-control" id="rua" formControlName="rua"
          [class.is-invalid]="controleInvalido('endereco.rua')">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="bairro" class="col-form-label"
          [class.text-danger]="controleInvalido('endereco.bairro')">Bairro</label>
        <input type="text" class="form-control" id="bairro" formControlName="bairro"
          [class.is-invalid]="controleInvalido('endereco.bairro')">
          <div class="invalid-feedback">
            O Bairro é obrigatório.
          </div>
        </div>
      <div class="form-group col-md-4">
        <label for="cidade" class="col-form-label"
          [class.text-danger]="controleInvalido('endereco.cidade')">Cidade</label>
        <input type="text" class="form-control" id="cidade" formControlName="cidade"
          [class.is-invalid]="controleInvalido('endereco.cidade')">
        <div class="invalid-feedback">
          O Cidade é obrigatório.
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="estado" class="col-form-label"
          [class.text-danger]="controleInvalido('endereco.estado')">Estado</label>
        <select type="text" class="form-control" id="estado" formControlName="estado"
          [class.is-invalid]="controleInvalido('endereco.estado')">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla" >{{ estado.nome }}</option>
        </select>
        <div class="invalid-feedback">
          O Estado é obrigatório.
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-md-4">
        <label for="cargo" class="col-form-label"
          [class.text-danger]="controleInvalido('cargo')">Cargo</label>
        <select type="text" class="form-control" id="cargo" formControlName="cargo" [compareWith]="compararCargos"
          [class.is-invalid]="controleInvalido('cargo')">
          <option *ngFor="let cargo of cargos" [ngValue]="cargo" >{{ cargo.desc }}</option>
        </select>
        <div class="invalid-feedback">
          O Cargo é obrigatório.
        </div>
      </div>
      <div class="col-md-4">
        <label for="tecnologias" class="col-form-label"
          [class.text-danger]="controleInvalido('tecnologias')">Tecnologias</label>
        <select multiple type="text" class="form-control" id="tecnologias" formControlName="tecnologias"
          [class.is-invalid]="controleInvalido('tecnologias')">
          <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome" >{{ tecnologia.desc }}</option>
        </select>
        <div class="invalid-feedback">
          O Tecnologia é obrigatório.
        </div>
      </div>

      <div class="col-md-3">
        <label for="newsletter" class="col-form-label"
          [class.text-danger]="controleInvalido('newsletter')">Newsletter</label>
        <div class="row" id="newsletter">
          <div class="form-check form-check-inline" *ngFor="let newsletter of newsletters" >
            <input class="form-check-input" type="radio"
              name="newsletter"
              [id]="'newsletter_' + newsletter.nome"
              formControlName="newsletter"
              [value]="newsletter.nome">
            <label class="form-check-label" [for]="'newsletter_' + newsletter.nome">{{ newsletter.desc }}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="formgroup">
      <div class="form-row">
        <div class="col-md-3">
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox"
              id="termos"
              formControlName="termos">
            <label class="form-check-label" for="termos">
              Aceito os termos.
            </label>
            <div class="invalid-feedback"><!-- Não funciona... -->
              A aceitação do Termo é obrigatório.
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <label for="frameworks" class="col-form-label"
            [class.text-danger]="controleInvalido('frameworks')">Frameworks</label>
          <div class="row" id="frameworks">
            <div class="form-check form-check-inline"
              formArrayName="frameworks"
              *ngFor="let item of formData.controls; let i = index" >
              <input class="form-check-input" type="checkbox"
                name="framework"
                [id]="'framework_' + i"
                [formControlName]="i"
                [value]="">
              <label class="form-check-label" [for]="'framework_' + i">{{ frameworks[i] }}</label>
          </div>
          <div class="invalid-feedback"><!-- Não funciona... -->
            Selecione pelo menos 1 item
          </div>
          <app-form-control-erro msgErro="Selecione pelo menos 1 item." [mostrarErro]="!formulario.get('frameworks').valid"></app-form-control-erro>
          </div>
    </div>

      </div>
    </div>
  </div>


  <div class="form-group row">
    <div class="offset-sm-1 col-sm-11">
      <button type="submit" class="btn btn-primary purple">Submit</button>
      <button type="button" class="btn" (click)="resetarFormulario()">Cancelar</button>
      <button type="button" class="btn" (click)="setCargo()">Setar Cargo</button>
      <button type="button" class="btn" (click)="setTecnologias()">Setar Tecnologias</button>
    </div>
  </div>
  <app-form-debug [form]="formulario"></app-form-debug>
</form>

