<p>rotas works!</p>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Home</button>
  <button mat-menu-item>Login</button>
  <button mat-menu-item>Cursos</button>
</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>

<br>

<mat-toolbar color="primary">
  <span><a >Home</a></span>
  <span><a >Login</a></span>
  <span><a >Cursos</a></span>
</mat-toolbar>

<nav>
  <div class="nav-wrapper purple darken-4">
    <a routerLink="" class="brand-logo right">Rotas Ng2</a>
    <ul id="nav-mobile" class="left">
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="cursos">Cursos</a></li>
    </ul>
  </div>
</nav>

<div classs="container">
  <router-outlet></router-outlet>
</div>
