<p>formularios works!</p>
<nav>
  <div class="nav-wrapper purple darken-4">
    <a routerLink="" class="brand-logo right">Angular Forms</a>
    <ul id="nav-mobile" class="left">
      <li routerLinkActive="active"><a routerLink="templateForm">Form - Template Driven</a></li>
      <li routerLinkActive="active"><a routerLink="dataForm">Form - Data Driven</a></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Angular Forms</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="templateForm">Form - Template Driven<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="dataForm">Form - Data Driven<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
