<p>formularios works!</p>

<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routeLink="">Angular Forms</a>
    </div>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="templateForm">Form - Template Driven</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="dataForm">Form - Data Driven</a>
      </li>
    </ul>
  </div>
</nav> -->

<nav>
  <div class="nav-wrapper purple darken-4">
    <a routerLink="" class="brand-logo right">Angular Forms</a>
    <ul id="nav-mobile" class="left">
      <li routerLinkActive="active"><a routerLink="templateForm">Form - Template Driven</a></li>
      <li routerLinkActive="active"><a routerLink="dataForm">Form - Data Driven</a></li>
    </ul>
  </div>
</nav>



<div classs="container">
  <router-outlet></router-outlet>
</div>
