<p>diretivas-customizadas works!</p>
<!-- <p appFundoAmarelo>Fundo Amarelo</p>
<button appFundoAmareloButton>Botão com Diretiva Customizada</button>

<p appHighlightMouse>
  Texto com highlight quando passo o mouse.
</p>


<!-- <p appHighlight [defaultColor]="'green'" [highlightColor]="'blue'">
  Texto com highlight com cores customizadas.
</p> -- >
<p [appHighlight]="'blue'" [defaultColor]="'green'">
  Texto com highlight com cores customizadas.
</p> -->


<div *ngIf="mostrarCursos">
  Lista de Cursos.
</div>

<div *appNgElse="mostrarCursos">
  Não há cursos.
</div>

<br>
<button (click)="onMostrarCursos()">Toggle MostrarCursos</button>
