<h1>ngLoiane</h1>
<span>{{ title }}</span>
<!-- <meu-primeiro-component></meu-primeiro-component>
<app-meu-primeiro2></app-meu-primeiro2>
<app-cursos></app-cursos>

<app-data-binding></app-data-binding>
-->

<p>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</p>

<!-- <app-input-output-properties></app-input-output-properties> -->

<!-- <app-life-cicle [valorInicial]="valor" *ngIf="deletarCiclo == 'Deletar'"></app-life-cicle>
<button (click)="mudarValor()"> Mudar Valor</button>
<button (click)="destruirCiclo()">{{ deletarCiclo }}</button> -->

<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ng-class></app-ng-class> -->
<!-- <app-ng-style></app-ng-style> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-ng-content>
  <div class="titulo">Título passado por ngContent.</div>
  <div class="corpo">Corpo passado para o componente.</div>
  <div class="corpo">Corpo passado para o componente2.</div>
</app-ng-content> -->
<!-- <app-diretivas-customizadas></app-diretivas-customizadas> -->
<app-servicos-cursos></app-servicos-cursos>
