<p>exemplos-pipes works!</p>

<p> Título: {{ book.title | uppercase | lowercase | camelCase }}</p>
<p> Esrtrelas: {{ book.rating | number:'1.1-2' }}</p>
<p> Páginas: {{ book.numPages | number }}</p>
<p> Preço: {{ book.price | currency:'BRL':true }}</p>
<p> Data Lançamento: {{ book.dateRelease | date:'dd/MM/yyyy' }}</p>
<p> Url: {{ book.url }}</p>

<!-- <br>
<p>{{ book | json }}</p> -->

<br>
<input type="text" [(ngModel)]="filtro" #filtroInput>
<br>
<input type="text" #novoValor>
<button (click)="addLivro(novoValor.value)">Novo Livro</button>
<h5>Filtro Array Puro</h5>
<ul>
  <li *ngFor="let liv of livros | filtroArray:filtroInput.value">
    {{ liv }}
  </li>
</ul>

<br>
<h5>Filtro Arrray Inpuro</h5>
<ul>
  <li *ngFor="let liv of livros | filtroArrayInpuro:filtroInput.value">
    {{ liv }}
  </li>
</ul>
<br>
<h5>Maneira correta de fazer Filtros em Projetos</h5>
<ul>
  <li *ngFor="let liv of obterLivros()">
    {{ liv }}
  </li>
</ul>


<p>{{ valorAsync | async }}</p>

<p>{{ valorAsync2 | async }}</p>

<p>{{ valorAsync3 | async }}</p>
